<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NordicSimpleBLE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>87D460561BDE67170035BBCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87D4606A1BDE67180035BBCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87D460751BDE67180035BBCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
